<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Birds That Make Sounds Post</title>
    <th:block th:replace="base2 :: head"></th:block>
</head>
<body>
<th:block th:replace="base2 :: nav"></th:block>

<div class="container">
    <br /><br /><br />
    <h4>Posts</h4>

    <table class="table table-striped">
        <tr>
            <th>Image</th>
            <th>Post</th>
            <th>Author</th>
            <th>Date</th>
            <th>Likes</th>
            <th>Like Post</th>
            <th>View Profile</th>
            <th>Friendship</th>

        </tr>
        <tr th:each="row : ${posts}">
            <td><img th:src="${row.picUrl}" /></td>
            <td th:text="${row.postName}"></td>
            <td th:text="${row.postAuthor}"></td>
            <td th:text="${row.getFormatDate()}"></td>
            <td th:text="${row.users.size()}"></td>
            <td><form class="form-inline" th:action="@{/like}" th:object="${like}" method="post">
                <div class="text">
                    <label>
                        <input type="hidden" th:name="likeValue" th:id="likeValue"  th:value="${row.postID}" aria-label="..."/>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="blankRadio" id="blankRadio1" value="like" th:field="*{likeType}" aria-label="..."/>
                        Like
                    </label>

                    <label>
                        <input type="radio" name="blankRadio" id="blankRadio2" value="unlike" th:field="*{likeType}" aria-label="..."/>
                        Unlike
                    </label>

                    <!--<label>
                        <input type="radio" name="blankRadio" id="blankRadio3" th:value="flag" th:field="*{followType}" aria-label="..."/>
                        Flag
                    </label>-->
                </div>

                <button type="submit" class="btn btn-default">Like/Unlike Post</button>
            </form></td>
            <td><form class="form-inline" th:action="@{/generate/posts}" th:object="${profileBuilder}" method="post">
                <div class="hidden">
                    <label>
                        <input type="hidden" th:name="profileBuilderValue" th:id="profileBuilderValue"  th:value="${row.postAuthor}" aria-label="..."/>
                    </label>
                </div>
                <button type="submit" class="btn btn-default">View Profile</button>
            </form></td>
            <td><form class="form-inline" th:action="@{/follow}" th:object="${follow}" method="post">
                <div class="text">
                    <label>
                        <input type="hidden" th:name="followValue" th:id="followValue"  th:value="${row.postAuthor}" aria-label="..."/>
                    </label>
                </div>
                <div class="radio">
                    <label th:unless="${row.followed.contains(row.followed, $userPrincipal)}">
                        <input type="radio" name="blankRadio" id="blankRadio4" value="follow" th:field="*{followType}" aria-label="..."/>
                        Follow
                    </label>

                    <label th:if="${row.followed.contains(row.followed, $userPrincipal)}">
                        <input type="radio" name="blankRadio" id="blankRadio5" value="unfollow" th:field="*{followType}" aria-label="..."/>
                        Unfollow
                    </label>

                    <!--<label>
                        <input type="radio" name="blankRadio" id="blankRadio6" th:value="block" th:field="*{followType}" aria-label="..."/>
                        Block
                    </label>-->
                </div>

                <button type="submit" class="btn btn-default">Change Friendship</button>
            </form></td>


        </tr>
    </table>

</div><!-- /.container -->

<th:block th:replace="base2 :: footlinks"></th:block>
</body>
</html>